:root {
    --primary-color: #08437F;
    --secondary-color: #FECF00;
    --text-color: #333333;
    --background-color: #ffffff;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --border-color: #ced4da;
    --hover-background-color: #e0e0e0;
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url(../imgs/hero.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Form Container */
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    color: var(--text-color);
}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.form-container input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--background-color);
    font-weight: 600;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: var(--secondary-color);
    color: #000;
}

.signup-link, .login-link {
    margin-top: 20px;
}

.signup-link a, .login-link a {
    color: var(--primary-color);
    text-decoration: none;
}

.signup-link a:hover, .login-link a:hover {
    text-decoration: underline;
}
